# !!! ATTENTION !!!
# the url where a user can access nts
NTS_EXTERNAL_URL=https://nts.example.com

# a template for a new note
# NTS_TEMPLATE=

# the address of the server in the docker container
NTS_HOST=0.0.0.0
NTS_PORT=9112

# the directory in the docker container where data is stored
NTS_DATA_DIR=/data

# the log level to use
RUST_LOG=warn
